<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>211147452175-5k7aq2vojut6omsu62krhq5fneuoag7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211147452175-5k7aq2vojut6omsu62krhq5fneuoag7p</string>
	<key>API_KEY</key>
	<string>AIzaSyCGL3LVtwRRaIBDSnewLIPw2BFLS8YXj28</string>
	<key>GCM_SENDER_ID</key>
	<string>211147452175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TotemV.DrewsList</string>
	<key>PROJECT_ID</key>
	<string>drewslist-1097</string>
	<key>STORAGE_BUCKET</key>
	<string>drewslist-1097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:211147452175:ios:969068718900e5a5</string>
	<key>DATABASE_URL</key>
	<string>https://drewslist-1097.firebaseio.com</string>
</dict>
</plist>